{% extends 'base.html' %}
{% block body %}



<!-- ******************* Starting of Form ************************************** --><form class="container" method="post">{% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}
  <form method="post">
  <div class="mb-3">
      <span class="text-danger">{{ form.title.errors }}</span>
    <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
    {{ form.title }}
  </div>

  <div class="mb-3">
    <span class="text-danger">{{ form.author.errors }}</span>
    <label for="{{ form.author.id_for_label }}">Author</label>
    {{ form.author }}
  </div>

<label for="select" class="form-label">Select the category</label>
<select class="form-select mb-3" id="select" name='select' aria-label="Default select example">
  {% for i in cat %}
  <option value="{{i}}">{{i}}</option>
  {% endfor %}
</select>


<div class="mb-3">
    <span class="text-danger">{{ form.cover_image.errors }}</span>
    <h5>Cover Image</h5>
    {{ form.cover_image }}
</div>

  <div class="mb-3">
    <span class="text-danger">{{ form.body.errors }}</span>
    <h5>Post</h5>
    {{ form.body }}
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}